AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_SECRET_ACCESS_KEY=
DATABASE=cms_prx_org_development
DATABASE_HOST=localhost
DATABASE_PASSWORD=
DATABASE_USER=root
MEMCACHE_SERVERS=localhost:11211
NEW_RELIC_KEY=
PUBLIC_ASSET_SECRET=
RAILS_SECRET_KEY=
TEST_DATABASE=cms_prx_org_test
PRX_HOST=beta.prx.dev
CMS_HOST=cms.prx.dev
META_HOST=meta.prx.org
