AWS_ACCESS_KEY_ID=
AWS_ACCOUNT_ID=
AWS_BUCKET=development.mediajoint.prx.org
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=
CMS_HOST=cms.prx.docker
DATABASE_POOL_SIZE=5
DB_ENV_MYSQL_DATABASE=cms_development
DB_ENV_MYSQL_PASSWORD=password
DB_ENV_MYSQL_USER=root
DB_PORT_3306_TCP_ADDR=db
DB_PORT_3306_TCP_PORT=3306
ID_HOST=id.prx.docker
META_HOST=meta.prx.org
MYSQL_DATABASE=cms_development
MYSQL_ROOT_PASSWORD=password
NEW_RELIC_KEY=
NEW_RELIC_NAME=CMS Development
PORTER_SNS_TOPIC_ARN=arn:aws:sns:us-east-2:12345678:porter-env-JobExecutionSnsTopic-ASDF1234
PRX_CLIENT_ID=key21f0123456789012345678901234567890123
PRX_SECRET=secret21f0123456789012345678901234567890
PRX_HOST=beta.prx.org
PUBLIC_ASSET_SECRET=
RAILS_ENV=development
RAILS_SECRET_KEY=seeecrets
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_URL=http://elasticsearch:9200
WORKER_DATABASE_POOL_SIZE=15
WORKER_COUNT=10
