AWS_ACCESS_KEY_ID=
AWS_ACCOUNT_ID=
AWS_BUCKET=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
CMS_HOST=cms.prx.docker
DATABASE_POOL_SIZE=5
DB_ENV_MYSQL_DATABASE=
DB_ENV_MYSQL_PASSWORD=
DB_ENV_MYSQL_USER=
DB_PORT_3306_TCP_ADDR=db
DB_PORT_3306_TCP_PORT=
MEMCACHE_SERVERS=
META_HOST=meta.prx.org
MYSQL_ALLOW_EMPTY_PASSWORD=true
NEW_RELIC_KEY=
PRX_HOST=beta.prx.org
PUBLIC_ASSET_SECRET=
RAILS_ENV=development
RAILS_SECRET_KEY=
SSH_MYSQL_DEST=
SSH_MYSQL_KEY=
